* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Navbar */
nav {
    position: fixed; 
    top: 0;
    z-index:1;
    background: #FFF;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 16px 0px;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: #202020;
    box-shadow: 0px 3px 10px #cfcfcf; /* animate */
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}

.logo img{
    width: 180px;
}

.search {
    padding-left: 8px;
    width: 180px;
    height: 24px;
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #000000;
    display: flex;
    align-items: center;
}

.search-icon img{
    width: 12px;
    height: 12px;
}

input {
    all: unset;
    font-size: 14px;
    color: #414141;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #414141;
    font-size: 14px;
}

 /* Banner */
.banner img{
    max-width: 90%;
    display: flex;
    margin: 48px auto;
    padding-top: 80px;
}

 /* Carousel */
.carousel-container{
    position: relative;
    padding: 16px;
    max-width: 90%;
    margin: 56px auto;
}

.gallery-wrapper{
    overflow-x: auto;
}

.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
 }

.arrow-left, .arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.arrow-right{
    left: auto;
    right: 0;
}

.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
}

.item-gallery{
    height: 220px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
    padding-left: 8px;
    padding-right: 8px;
}

.current-item {
    opacity: 1;
}

 /* Hide scroll bar */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

 /* Container Stabilo*/
.stabilo-container {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 180px;
}

.stabilo-container-text{
    width: 600px;
}

.stabilo-container-image img{
    width: 600px;
}

.stabilo-container-title {
    color: rgba(0, 0, 0, 0.80);
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    padding-top: 8px;
}

.stabilo-container-description {
    color: rgba(0, 0, 0, 0.80);
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    padding-top: 18px;
}

.stabilo-container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    width: 216px;
    height: 56px;
    border: none; 
    margin-top: 48px;
    float: right;
    text-decoration: none;
}

.stabilo-container-link-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.38px;
}

/* Container Inspiration*/
.inspiration-container {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-top: 180px;
}

.inspiration-container-text{
    width: 600px;
}

.inspiration-container-image img{
    width: 600px;
}

.inspiration-container-title {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    padding-top: 8px;
}

.inspiration-container-description {
    color: rgba(0, 0, 0, 0.80);
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: -0.456px;
    padding-top: 18px;
}

.inspiration-container-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    width: 216px;
    height: 56px;
    border: none; 
    margin-top: 48px;
    float: left;
    text-decoration: none;
}

.inspiration-container-link-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.38px;
}

/* Footer */
.footer-container{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding-top: 220px;
    padding-bottom: 36px;
}

.footer-copywriting{
    justify-content: left;
}

.copywriting{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
    padding-left: 10px;
    padding-top: 100px;
}
.footer-logo img{
    width: 160px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.footer-title{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%; /* 19.688px */
}

.footer-item{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 19.688px */
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 190px;
}

.follow-us{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.625%;
    padding-bottom: 8px;
}

.facebook-image:hover {
    filter: invert(73%) sepia(6%) saturate(1626%) hue-rotate(184deg) brightness(84%) contrast(88%);
}

.instagram-image:hover {
    filter: invert(96%) sepia(72%) saturate(4114%) hue-rotate(256deg) brightness(97%) contrast(81%);
}

.twitter-image:hover {
    filter: invert(82%) sepia(2%) saturate(7449%) hue-rotate(183deg) brightness(98%) contrast(94%);
}

.pinterest-image:hover {
    filter: invert(85%) sepia(12%) saturate(6897%) hue-rotate(302deg) brightness(85%) contrast(89%);
}

.youtube-image:hover {
    filter: invert(88%) sepia(7%) saturate(5494%) hue-rotate(301deg) brightness(94%) contrast(91%);
}

@media screen and (max-width: 1000px){
     /* Container Stabilo*/
    .stabilo-container{
        flex-direction: column;
        z-index: 10;
    }

    .stabilo-container-title {
        text-align: left;
    }

    .stabilo-container-description {
        text-align: left;
    }

    .stabilo-container-link {
        float: left;
    }

    /* Container Inspiration*/
    .inspiration-container{
        flex-direction: column;
        z-index: 10;
    }

    .inspiration-container-title {
        text-align: left;
    }

    .inspiration-container-description {
        text-align: left;
    }
}